/Inventory Management System/JavaApplication15/nbproject/private/
/Inventory Management System/JavaApplication15/build/
/Inventory Management System/JavaApplication15/dist/
/E-commerce Platform Search Function/JavaApplication16/nbproject/private/
/E-commerce Platform Search Function/JavaApplication16/build/
/Sorting Customer Orders/JavaApplication17/nbproject/private/
/Sorting Customer Orders/JavaApplication17/build/
/Employee Management System/JavaApplication18/nbproject/private/
/Employee Management System/JavaApplication18/build/
/Task Management System/JavaApplication19/nbproject/private/
/Task Management System/JavaApplication19/build/
/Library Management System/JavaApplication20/nbproject/private/
/Library Management System/JavaApplication20/build/
/Financial Forecasting/JavaApplication21/nbproject/private/
/Financial Forecasting/JavaApplication21/build/
